<div class="grid-rows-[10vh] grid lg:grid-cols-5 border-b-2 border-solid border-black border-opacity-100 border-black-800">
    <div class="col-start-2 row-end-auto col-end-auto mb-1">
        <picture>
          <a href="/src/index.html"><img class="object-cover h-full" src="./assets/images/logo.png" alt="Logo concurso"/></a>
        </picture>
      </div>
    <div class="col-start-4 flex">
        <ul class="flex items-center list-none">
          <li class="mr-5"><a href="/src/participantes.html">Participantes</a></li>
          <li class="mr-5"><a href="">Información</a></li>
          <li class="mr-5"><a href="">Formulario</a></li>
        </ul>
    </div>
</div>