<footer class="grid-rows-[10vh] mx-auto border-black border-opacity-100 px-5 text-center bg-white border-t-2 border-black-800 grid grid-cols-3 grid-cols-3 items-center w-90">
      <div class="h-full col-start-1 flex justify-center items-center">
    <picture>
      <a href="/src/index.html">
        <img class="object-cover h-20 sm:h-12" src="./assets/images/logo.png" alt="Logo concurso"/>
      </a>
    </picture>
  </div>
  <div>
    <ul class="list-none flex flex-col sm:flex-row items-center justify-center">
      <li class="mr-0 sm:mr-10"><a class="text-black no-underline" href="/src/participantes.html">Participantes</a></li>
      <li class="mr-0 sm:mr-10"><a class="text-black no-underline" href="">Información</a></li>
      <li class="mr-0 sm:mr-10"><a class="text-black no-underline" href="">Formulario</a></li>
      <li class="mr-0 sm:mr-10"><a class="text-black no-underline" href="/src/paginaIA.html">Página IA</a></li>
    </ul>
  </div>
  <div>
    <ul class="list-none flex flex-row justify-center space-x-4 sm:space-x-10">
      <li><a href="#"><img class="h-8 sm:h-6" src="./assets/images/google.png" alt="Google"></a></li>
      <li><a href="#"><img class="h-8 sm:h-6" src="./assets/images/facebook.png" alt="Facebook"></a></li>
      <li><a href="#"><img class="h-8 sm:h-6" src="./assets/images/twitter.png" alt="Twitter"></a></li>
    </ul>
  </div>
</footer>