<div class="container mx-auto mt-16 mb-8 text-center">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div class="container-base">
        <img src="./assets/images/participante1.jpeg" alt="Imagen Marta Pérez" class="participante-imagen">
        <h2 class="participante-nombre">Marta Pérez</h2>
        <p>Marta es una chef experimentada que dirige su propio restaurante de cocina de autor en el centro de la ciudad. Su especialidad son los platos de fusión que combinan ingredientes locales con técnicas culinarias internacionales.</p>
      </div>
      <div class="container-base">
        <img src="./assets/images/participante2.jpeg" alt="Imagen Carlos Martín" class="participante-imagen">
        <h2 class="participante-nombre">Carlos Martín</h2>
        <p>Carlos es un chef joven y prometedor que trabaja como sous chef en un restaurante de alta cocina. Le apasiona la cocina molecular y disfruta experimentando con texturas y sabores inusuales en sus platos.</p>
      </div>
      <div class="container-base">
        <img src="./assets/images/participante3.jpeg" alt="Imagen Sara Rodríguez" class="participante-imagen">
        <h2 class="participante-nombre">Sara Rodríguez</h2>
        <p>Sara es una talentosa pastelera que trabaja en una reconocida pastelería de la ciudad. Sus creaciones son conocidas por su belleza visual y su exquisito sabor, especialmente sus pasteles decorados con detalles elaborados.</p>
      </div>
      <div class="container-base">
        <img src="./assets/images/participante4.jpeg" alt="Imagen Rosario López" class="participante-imagen">
        <h2 class="participante-nombre">Rosario López</h2>
        <p>Rosario es una cocinera autodidacta que recientemente abrió su propio negocio de comida casera para llevar. Se especializa en platos tradicionales de la cocina española, con recetas que ha perfeccionado a lo largo de los años.</p>
      </div>
      <div class="container-base">
        <img src="./assets/images/participante5.jpeg" alt="Imagen Sergio Bautista" class="participante-imagen">
        <h2 class="participante-nombre">Sergio Bautista</h2>
        <p>Sergio es un chef ejecutivo en un exclusivo hotel boutique en la costa. Su cocina se centra en ingredientes frescos y locales, creando platos que destacan por su elegancia y sabor refinado.</p>
      </div>
      <div class="container-base">
        <img src="./assets/images/participante6.jpeg" alt="Imagen Antonia Díaz" class="participante-imagen">
        <h2 class="participante-nombre">Antonia Díaz</h2>
        <p>Antonia es una chef de renombre que ha trabajado en algunos de los mejores restaurantes del país. Actualmente, es consultora gastronómica y viaja por el mundo explorando nuevas tendencias culinarias para inspirar sus proyectos.</p>
      </div>
    </div>
</div>